<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
<section class="main">
    <div class="container">
        <h2 class="heading">
            SignUp with us <span>Today</span>
        </h2>
        <p class="para">
            Enter your Email and choose a password to setup your Account
        </p>
        <form class="form">
            <label for="email-address">Email Address</label>
            <input
                type="email"
                placeholder="Email Address"
                name="email-address"
                id="email-address"
            />
            <label for="password">Password</label>
            <input
                type="password"
                placeholder="Password"
                name="password"
                id="password"
            />
        </form>
        <div class="options">
            <p>Already have an Account ?</p>
            <span class="login">Login</span>
        </div>
        <button type="submit">Create Account</button>
    </div>
</section>
<script src="signup.js"></script>
</body>
</html>