
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Heebo', sans-serif;
    height: 50rem;
    width: 50rem;
}

.main {
    margin: 1rem;
}


.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 9rem;
}

.heading {
    font-size: 2.8rem;
    color: black;
    font-weight: 900;
}


.para {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: #BCBCBC;
    font-weight: 500;
}

.form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 700;
}

input {
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #aeb2ba;
}

input::placeholder {
    font-size: 1.1rem;
    font-weight: 100;
    color: #aeb2ba;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 2rem;
    font-weight: 600;
}

.option-auth {
    background: linear-gradient(to right, #f9b16e, #f68080);
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}

button {
    margin-top: 3rem;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background: linear-gradient(to right, #f28367, #ff5282);
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.main-popup {
    margin: 3rem 2rem;
}

.brand-heading {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, #f28367, #ff5282);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.brand-quote {
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

.section-cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 1.7rem;
}

span {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
}

.card {
    padding: 2rem;
    text-decoration: none;
    list-style: none;
    border-radius: 1rem;
    border: 1px solid lightslategray;
}

.card-title {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.card-p {
    margin-top: 1rem;
    font-size: 1.3rem;
    color: #7E7E7E;
}

.btn-group {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
